body {
    font-size: 16px;
}

.out {
    color: #f65176;
    font-weight: bold;
}

.right {
    margin-left: auto;
}

.left {
    margin-right: auto;
}

.center {
    margin: 0 auto;
}

.card-deck {
    width: 100%;
    display: inline-flex;
}

.card-container {
    max-width: 20%;
}

.card {
    line-height: 1.75rem;
    overflow-y: auto;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
}

.card-text-row {
    width: 100%;
    display: inline-flex;
}

.time {
    line-height: 2rem;
    font-weight: bold;
}

.disks > .content {
    margin-left: 10px;
}
