body {
    font-size: 16px;
}

.out {
    color: #f65176;
    font-weight: bold;
}

.right {
    margin-left: auto;
}

.left {
    margin-right: auto;
}

.center {
    margin: 0 auto;
}

.wrap {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: top;
}

.wrap > .wrap-child {
    width: 20%;
    height: 300px;
    border: 1px solid black;
    overflow-y: auto;
}

.block {
    line-height: 1.75rem;
    padding: 5px 15px;
}

.block > .title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.block .wrap {
    justify-content: flex-end;
}

.time {
    color: #0000ff;
    font-weight: bold;
}

.disks > .content {
    margin-left: 10px;
}
